[Unit]
Description=rqlite service
Wants=network-online.target
After=network-online.target

[Service]
User=statibus
Group=statibus
Type=simple
WorkingDirectory=/home/statibus/rqlite
ExecStart=/home/cdn/rqlite/rqlited -http-addr 127.0.0.1:4001 -raft-addr 127.0.0.1:4002

[Install]
WantedBy=multi-user.target
