html {
  background-color: #0d121a;
  font-family: 'Yusei Magic';
  color: white;
}

body {
  min-height: 98vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  align-items:center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

@media (max-width: 1115px) {
  div .status-text {
    margin-left: 1em;
  }
  div .service-text {
    margin-left: 0.5em;
  }
}

@media (min-width: 992px) {
  .container {
      padding-left: 40px;
      padding-right: 40px;
  }
}

@media (max-width: 685px) {
  div .item {
    flex: 0 100%;
  }
  div .service {
    flex: 0 100%;
  }
  div .uptime {
    flex: 0 100%;
  }
  div .status {
    flex: 0 100%;
  }
  div .block {
    flex: 0 100%;
  }
  div .heading {
    flex: 0 100%;
  }
  div .status-text {
    text-align: right;
    margin-right: 1em;
  }
  #rstatus {
    display: none;
  }
  div .rss {
    display: none;
  }
}

.box {
  background-color: #151a22;
  border-radius: 5px;
  box-shadow: 0.2px 0.2px 0.2px rgba(0,0,0,.5);
}

.dot {
  height: 22px;
  width: 22px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 0 0 rgba(212,160,27, 0.4);
  animation: pulse 2s infinite;
}

@keyframes pulse-orange {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(212,160,27, 0.4);
    box-shadow: 0 0 0 0 rgba(212,160,27, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(212,160,27, 0);
      box-shadow: 0 0 0 10px rgba(212,160,27, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(212,160,27, 0);
      box-shadow: 0 0 0 0 rgba(212,160,27, 0);
  }
}

@keyframes pulse-green {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(55,144,86, 0.4);
    box-shadow: 0 0 0 0 rgba(55,144,86, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(55,144,86, 0);
      box-shadow: 0 0 0 10px rgba(55,144,86, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(55,144,86, 0);
      box-shadow: 0 0 0 0 rgba(55,144,86, 0);
  }
}

.dot-orange {
  background-color: #d4a01b;
  box-shadow: 0 0 0 rgba(212,160,27, 0.4);
  animation: pulse-orange 2s infinite;
}

.dot-green {
  background-color: #379056;
  box-shadow: 0 0 0 rgba(55,144,86, 0.4);
  animation: pulse-green 2s infinite;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.pull-right {
  float: right;
}

.mt-1 {
  margin-top: 1em;
}

.mt-05 {
  margin-top: 0.5em;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-1 {
 margin-left: 1em;
}

.p-0 {
  padding: 0px;
}

.status-text {
 margin-left: 2em;
}

.rss {
  margin-right: 1em;
}

.mr-1 {
  margin-right: 1em;
}

.inline {
  display: inline-block;
}

.item {
  width: 50%;
  height: 100%;
  margin-bottom: 2%;
}

.item:nth-child(3n) {
  width: 100%;
}

.service {
flex: 0 25%;
}

.uptime {
  flex: 0 65%;
}

.status {
  flex: 0 10%;
}

.halfOblock {
  flex: 0 50%;
}

.block {
  flex: 0 33%;
}

small {
  font-size: small;
}

.new {
  fill: #525d56;
}

.green {
 color: #379056;
 fill: #379056;
}

.darkgreen {
  fill: #27633c;
}

.red {
 color: #9b3838;
 fill: #9b3838;
}

.orange {
  color: #d4a01b;
  fill: #d4a01b;
}

a {
  text-decoration: none;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}

.rssBody {
  stroke: none; fill: #d4a01b;
}

.rssSymbol {
  stroke: none; fill: white;
}
